#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.navBar{
  margin: 0 auto;
  width: 100%;
  padding: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
}


.hero > img {
  width: 80%;
  padding: 32px 63px;
}

.hero > h1 {
  font-size: 36px;
  margin: 1px;
}
.hero > h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 1px;
  max-width: 320px;
}

.card{
  max-width: 176px;
  font-size: 12px;
}
.card > img {
  width: 100%;
}
.event-type{
  background-color: white;
  color: black;
  padding: 5px;
  width: 60px;
  border-radius: 2px;
}

.title {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  align-items: center;
}
.title > img {
  width: 14px;
}
.review{
  color: #918E9B;
}
.card-content > p{
  margin: 3px;
}